@font-face {
	font-family: PopLight;
	src: url('./fonts/Poppins-Light.ttf');
}
@font-face {
	font-family: PopThin;
	src: url('./fonts/Poppins-Thin.ttf');
}

.hangman-main-section {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-grow: 1;
}

.hangman-main-section .covers-image {
	width: 30vw;
	margin-left: 10rem;
	height: auto;
	max-width: 350px;
}
li {
	padding: 1rem;
	font-size: 0.8em;
	font-family: PopLight;
}
h1 {
	margin-left: 7rem;
	font-size: 3em;
	font-family: PopThin;
}


@media (max-width: 800px) {
	.hangman-main-section {
		flex-direction: column;
		justify-content: center;
	}
	.hangman-main-section .covers-image {
		margin-top: 2rem;
		height: 30vh;
		width: auto;
	}
}

.hangman-page-circle-1 {
	position: absolute;
	width: 15vw;
	height: 15vw;
	border-radius: 50%;
	background-color: rgba(52, 87, 178, 0.1);

	bottom: 30vh;
	right: 5vw;
	z-index: -1;
}

.hangman-page-circle-2 {
	position: absolute;
	width: 15vw;
	height: 15vw;
	border-radius: 50%;
	background-color: rgba(188, 58, 128, 0.1);
	bottom: 15vh;
	left: 30vw;
	z-index: -1;
}

.hangman-page-circle-3 {
	position: absolute;
	overflow: hidden;
	width: 45vw;
	height: 45vw;
	top: 0;
	left: 0;
	z-index: -1;
}

.hangman-page-circle-3::before {
	content: '';
	transform: translate(-30%, -50%);
	position: absolute;
	height: 100%;
	width: 100%;
	border-radius: 50%;
	background-color: rgba(52, 87, 178, 0.1);
}

.codeshare-page-circle-1 {
	position: absolute;
	width: 15vw;
	height: 15vw;
	border-radius: 50%;
	background-color: rgba(52, 87, 178, 0.1);
	top: 20vh;
	left: 5vw;
	z-index: -1;
}

.codeshare-page-circle-2 {
	position: absolute;
	width: 15vw;
	height: 15vw;
	border-radius: 50%;
	background-color: rgba(188, 58, 128, 0.1);
	bottom: 15vh;
	right: 30vw;
	z-index: -1;
}

.codeshare-page-circle-3 {
	position: absolute;
	overflow: hidden;
	width: 25vw;
	height: 25vw;
	top: 0;
	right: 0;
	z-index: -1;
}

.codeshare-page-circle-3::before {
	content: '';
	transform: translate(30%, -50%);
	position: absolute;
	height: 100%;
	width: 100%;
	border-radius: 50%;
	background-color: rgba(52, 87, 178, 0.1);
}

.arcade-page-circle-1 {
	position: absolute;
	width: 15vw;
	height: 15vw;
	border-radius: 50%;
	background-color: rgba(52, 87, 178, 0.1);
	top: 30vh;
	right: 40vw;
	z-index: -1;
}

.arcade-page-circle-2 {
	position: absolute;
	width: 15vw;
	height: 15vw;
	border-radius: 50%;
	background-color: rgba(188, 58, 128, 0.1);
	bottom: 15vh;
	right: 45vw;
	z-index: -1;
}

.arcade-page-circle-3 {
	position: absolute;
	overflow: hidden;
	width: 35vw;
	height: 35vw;
	bottom: 0;
	left: 0;
	z-index: -1;
}

.arcade-page-circle-3::before {
	content: '';
	transform: translate(-30%, 50%);
	position: absolute;
	height: 100%;
	width: 100%;
	border-radius: 50%;
	background-color: rgba(52, 87, 178, 0.1);
}
