*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: PopLight;
	src: url('./fonts/Poppins-Light.ttf');
}
@font-face {
	font-family: PopReg;
	src: url('./fonts/Poppins-Regular.ttf');
}

body {
	font-family: PopLight;
}

.portfolio {
	color: white;
	background: radial-gradient(rgba(88, 109, 55), rgba(29, 29, 29));
}

nav {
	min-height: 10vh;
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0px;
}

.logo {
	font-size: 20px;
}

.page {
	min-height: 90vh;
	display: grid;
	grid-template-columns: 5% 1fr 1fr 1fr 5%;
}

.hero {
	overflow: hidden;
	height: 500px;
	align-self: center;
	justify-self: center;
	display: flex;
}

.hero img {
	height: 500px;
	transition: transform 0.3s ease-out;
	cursor: pointer;
}

.me-right {
	transform: translate(0%, 10%);
}
.me-left {
	transform: translate(0%, -10%);
}

.hero:hover .me-right {
	transform: translate(0%, 0%);
}
.hero:hover .me-left {
	transform: translate(0%, 0%);
}
.details {
	grid-column: 2 / 3;
	align-self: end;
}

.details h1 {
	font-size: 64px;
	font-family: PopReg;
}

.details h2 {
	font-size: 32px;
	font-family: PopReg;
	padding: 20px 0px 50px 0px;
}

.pages {
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translate(-50%);
}
.pages > div {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.pages h3 {
	font-size: 20px;
	padding: 30px;
}
.pages svg {
	cursor: pointer;
	opacity: 0.5;
	transform: scale(1);
}
.pages svg:hover {
	animation: dot 0.5s ease-in-out infinite alternate;
}
.pages svg.active {
	opacity: 1;
}

@keyframes dot {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(2);
    }
}
